header{
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.display-flex{
    display: flex;
    gap: 33px;
    list-style: none;
    
}
ul, a{
    text-decoration: none;
}
.color-one{
    color: #8987A1;
}
.color-two{
    color: #000000;
}
.primery-color{
    color: #E95A08;
}
.banner{
    display: flex;
    align-items: flex-end;
    margin-top: 6rem;
}


.banner-title{
    font-weight: bold;
    font-size: 4rem;
    
}
h5, p{
    margin: 0px;
}
.section1{
    max-width: 1140px;
    margin: 6rem auto;
}

.section1-title{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}
.section1-sub-title{
    text-align: center;
    /* margin-bottom: 0; */
}
.card-container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 0;
    /* margin-top: none; */
}
.card{
    /* width: 270px; */
    width: 100%;
    height: 322px;
    margin-top: 6rem;
}
.card-title{
    font-weight: 500;
    text-align: center;
    font-size: 1rem;



}
.card-cost{
    font-weight: bold;
    font-size: 1.5rem;
}
.btn{
    font-weight:600;
    font-size: 1rem;
    align-items: center;
    background-color: #E95A08;
    padding: 10px;
    color: white;
    width: 270px;
    /* width: 100%; */
    border: none;
}
.section2{
    max-width: 1140px;
    margin: 13rem auto;
    display: flex;
}
.banner2{

}
.lover{
    margin-left: 6rem;
}
.banner2-title{
    font-weight: bold;
    font-size: 3rem;
}
.banner2-sub-title{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
}
.section-join{
    background-image: url(assets/news-letter-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0;
    
}
.section3-title{
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    color: white;
    /* display: block; */
    
}

input{
    width: 32rem;
    padding: 0.5rem;
}
.btn2{
    width: 8rem;
    height: 2.1rem;
    background-color: #E95A08;
    color: white;
    border: none;
    margin-left: -1rem;
}
.footer{
    max-width: 1120px;
    margin: 4rem auto;
    display: flex;
}
.footer-sub-title{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
}
ul,li{
    list-style: none;
    
    
}
li{
    margin-top: 30px;
    margin-right: 2rem;

}
a{
    color: gray;
}
.link{
    margin-right: 2rem;
    margin-left: 4rem;
    
}
.icon img{
    margin-right: 1rem;
}



@media  screen and (max-width:576px) {
    .hide-on-mobile{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .card-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
    }
    .section2{
        flex-direction: column;
    }
    .footer{
        flex-direction: column;
    }
    
}